################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/obj
/API/bin/Debug/net5.0
/DataModels/obj
/DataModels/bin/Debug/net5.0
/FlightScheduleManagement/bin
/FlightScheduleManagement/obj/Debug
/packages
/Repository/bin/Debug/net5.0
/Repository/obj
/Service/bin/Debug/net5.0
/Service/obj
/ViewModels/bin/Debug/net5.0
/ViewModels/obj
/Mapper/obj/Debug
/ViewModels/bin/Debug
/API/bin/Release/net5.0
/DataModels/bin/Release/net5.0
/FlightScheduleManagement/obj/Release
/Service/bin/Release/net5.0
/ViewModels/bin/Release
/Repository/bin/Release/net5.0
/FlightScheduleManagement/Properties
/PresentationLayer/bin/Debug/net5.0
/PresentationLayer/obj
