@using DataModels.VM.Common;
@using PresentationLayer.Utilities;
@model List<DropDownValues>
@{
    Layout = null;

    int selectedId = Convert.ToInt32(ViewData["makeId"]);

    List<SelectListItem> aircraftMakeList = DropDownListGenerator.Generate(Model, new string[] { "Select model", "+ Add New" });

}


<label class="control-label col-md-12" for="AircraftMakeId">Make</label>
<select class="form-control" id="AircraftMakeId" name="AircraftMakeId"
        asp-items="aircraftMakeList"></select>