@model List<DataModels.Entities.AirCraftEquipment>
<div class="row">
    <div class="col-sm-12 m-2">
        <table class="table table-bordered table-striped dataTable dtr-inline collapsed static-dataTable" id="tbllistaircraftequipment">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Item</th>
                    <th>Classification</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
        
            <tfoot>
                <tr>
                    <th>Status</th>
                    <th>Item</th>
                    <th>Classification</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th class="text-center">Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>