@using DataModels.VM.Common;
@using PresentationLayer.Utilities;
@model List<DropDownValues>
@{
    Layout = null;
    int selectedId = Convert.ToInt32(ViewData["modelId"]);
    List<SelectListItem> aircraftModelList = DropDownListGenerator.Generate(Model, new string[] { "Select model", "+ Add New" }, selectedId);

}


<label class="control-label" for="AircraftModelId">Model</label>
<select class="form-control" id="AircraftModelId" name="AircraftModelId" asp-items="aircraftModelList"></select>