@model ViewModels.VM.Aircraft.AirCraftVM
<style>
    .profile-user-img {
        width: 100%;
    }
</style>
<input type="hidden" asp-for="@Model.Id" id="AirCraftId" />
<input type="hidden" value="true" id="IsEdit" />
<div class="air-craft-edit-container">
    <partial name="_edit" model="@Model" />
</div>


@section Scripts {

    <script type="text/javascript" src="~/Scripts/Modules/aircraft.js"></script>
}
