<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Manage Aircraft</h1>
            </div>
            <div class="col-sm-6">
                <button type="button" id="createAircraft" class="btn btn-block btn-primary float-sm-right" style="width:36%">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    &nbsp; Create Aircraft
                </button>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-3">
                <input type="text" placeholder="Search" value="" id="txtAircraftSearch" name="txtAircraftSearch" class="form-control" />
            </div>

            <div class="col-sm-2">

                <select id="ddlStatus" class="form-control">
                    <option value="1">Active</option>
                    <option value="0">InActive</option>
                </select>

            </div>

            <div class="col-sm-4">
                <button type="button" id="searchAircraft" class="btn btn-block btn-primary" style="width:27%">
                    Clear filter
                </button>
            </div>

        </div>
    </div>

</section>

<div style="margin-top:20px" id="aircraftList">

  

</div>

@section Scripts {

    <script type="text/javascript" src="~/Scripts/Modules/aircraft.js"></script>
}

