<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Manage Aircraft</h1>
            </div>
            <div class="col-sm-6">
                <button type="button" id="createAircraft" class="btn btn-block btn-primary float-sm-right" style="width:36%">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    &nbsp; Create Aircraft
                </button>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-3">
                <input type="text" value="" id="txtAircraftSearch" name="txtAircraftSearch" class="form-control" />
            </div>

            <div class="col-sm-2">

                <select id="ddlStatus" class="form-control">
                    <option value="1">Active</option>
                    <option value="0">InActive</option>
                </select>

            </div>

            <div class="col-sm-4">

                <button type="button" id="searchAircraft" class="btn btn-block btn-primary" style="width:27%">
                   Clear filter
                </button>

            </div> 
        </div>

    </div>
</section>

<div style="margin-top:20px">

    <div class="card" style="width: 18rem;float:left;margin-left:14px">
        <a href="">
            <img src="https://fsp.blob.core.windows.net/public-113197/aircraft/4c905a79-2853-46ed-ad53-0d595644dc69/468x314/67b778a120180509143958/img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </a>
    </div>

    <div class="card" style="width: 18rem;float:left;margin-left:14px">
        <img src="https://fsp.blob.core.windows.net/public-113197/aircraft/a1bea03a-9e92-446e-9b3a-d71dde028399/468x314/13677e2f20201029193749/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;float:left;margin-left:14px">
        <img src="https://fsp.blob.core.windows.net/public-113197/aircraft/a1bea03a-9e92-446e-9b3a-d71dde028399/468x314/13677e2f20201029193749/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;float:left;margin-left:14px">
        <img src="https://fsp.blob.core.windows.net/public-113197/aircraft/4c905a79-2853-46ed-ad53-0d595644dc69/468x314/67b778a120180509143958/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;float:left;margin-left:14px">
        <img src="https://fsp.blob.core.windows.net/public-113197/aircraft/a1bea03a-9e92-446e-9b3a-d71dde028399/468x314/13677e2f20201029193749/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;float:left;margin-left:14px">
        <img src="https://fsp.blob.core.windows.net/public-113197/aircraft/a1bea03a-9e92-446e-9b3a-d71dde028399/468x314/13677e2f20201029193749/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;float:left;margin-left:14px">
        <img src="https://fsp.blob.core.windows.net/public-113197/aircraft/4c905a79-2853-46ed-ad53-0d595644dc69/468x314/67b778a120180509143958/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;float:left;margin-left:14px">
        <img src="https://fsp.blob.core.windows.net/public-113197/aircraft/a1bea03a-9e92-446e-9b3a-d71dde028399/468x314/13677e2f20201029193749/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;float:left;margin-left:14px">
        <img src="https://fsp.blob.core.windows.net/public-113197/aircraft/a1bea03a-9e92-446e-9b3a-d71dde028399/468x314/13677e2f20201029193749/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;float:left;margin-left:14px">
        <img src="https://fsp.blob.core.windows.net/public-113197/aircraft/4c905a79-2853-46ed-ad53-0d595644dc69/468x314/67b778a120180509143958/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;float:left;margin-left:14px">
        <img src="https://fsp.blob.core.windows.net/public-113197/aircraft/a1bea03a-9e92-446e-9b3a-d71dde028399/468x314/13677e2f20201029193749/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;float:left;margin-left:14px">
        <img src="https://fsp.blob.core.windows.net/public-113197/aircraft/a1bea03a-9e92-446e-9b3a-d71dde028399/468x314/13677e2f20201029193749/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
    </div>

</div>

@section Scripts {

    <script type="text/javascript" src="~/Scripts/Modules/Aircraft.js"></script>
}

