<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Manage Users</h1>
            </div>
            <div class="col-sm-6">
                <button type="button" id="createUser" class="btn btn-block btn-primary float-sm-right" style="width:23%">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    &nbsp; Create User
                </button>

            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card">

    <div class="card-body">
        <table id="userList" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Is Instructor</th>
                    <th>Is Active</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Is Instructor</th>
                    <th>Is Active</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>

@section Scripts 
{
    <script type="text/javascript" src="~/Scripts/Modules/user.js"></script>
}

