@model ViewModels.VM.InstructorTypeVM
@{
    Layout = null;
}

<div class="card-body" style="margin-right:-100px">
    <form asp-action="create" asp-controller="instructorType" method="post" id="instructorTypeForm">

        @if (Model != null )
        {
            <input type="hidden" asp-for="Id" />
        }

        <div class="row">
            <div class="col-sm-7">

                <div class="form-group">

                    <label asp-for="Name" class="control-label col-md-12"></label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Please enter instructor type" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>

            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" id="btnsubmit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>

</div>
