<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Manage Instructor Type</h1>
            </div>
            <div class="col-sm-6">
                <button type="button" id="createInstructorType" class="btn btn-block btn-primary float-sm-right" style="width:36%">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    &nbsp; Create Instructor Type
                </button>
            </div>
        </div>
    </div>
</section>

<div class="card">

    <div class="card-body">
        <table id="instructorTypeList" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Instructor Type</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Instructor Type</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
 
</div>

@section Scripts {

    <script type="text/javascript" src="~/Scripts/Modules/instructorType.js"></script>
}

