  <!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Date : @(DateTime.Now)
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @(DateTime.Now.Year.ToString()) FLIGHT MANAGEMENT SYSTEM.</strong> All rights reserved.
</footer>