@model DataModels.VM.UserRolePermission.UserRolePermissionFilterVM
@using PresentationLayer.Utilities;
@{
  
    List<SelectListItem> userRoleList = DropDownListGenerator.Generate(Model.UserRoleList, "Select User Role");
    List<SelectListItem> moduleList = DropDownListGenerator.Generate(Model.ModuleList, "Select Module");
    List<SelectListItem> companyList = DropDownListGenerator.Generate(Model.Companies, "Select Company");

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Manage Permissions</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card">

    <div class="card-body">
        <table class="table w-100 mt-2 mb-2 border-0">
            <tbody>
                <tr style="width:100%">
                    <td class="pl-0">
                        <label class="control-label" asp-for="UserRoleId">User Role</label>
                        <select class="form-control" asp-for="UserRoleId" asp-items="userRoleList"></select>
                    </td>

                    <td class="pr-0">
                        <label class="control-label" asp-for="ModuleId">Module</label>
                        <select class="form-control" asp-for="ModuleId" asp-items="moduleList"></select>
                    </td>

                    @if (CurrentUserPermissionManager.IsSuperAdmin())
                    {
                        <td class="pr-0">
                            <label class="control-label" asp-for="CompanyId">Company</label>
                            <select class="form-control" asp-for="CompanyId" asp-items="companyList"></select>
                        </td>
                    }

                </tr>

            </tbody>
        </table>
        <table id="userRolePermissionList" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>User Role</th>
                    <th>Module Name</th>
                    <th data-orderable="false">Permission Type</th>
                    <th data-orderable="false" class="select-checkbox">
                    <div class="icheck-primary d-inline"><input type="checkbox" id="isAllowedAll"> <label for="isAllowedAll"></label></div>
                    Is Allowed</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>User Role</th>
                    <th>Module Name</th>
                    <th data-orderable="false">Permission Type</th>
                    <th data-orderable="false"> Is Allowed</th>
                </tr>
            </tfoot>
        </table>

    </div>
    <!-- /.card-body -->
</div>

@section Scripts
{
<script type="text/javascript" src="~/Scripts/Modules/userRolePermission.js"></script>
}