@model ViewModels.VM.ChangePasswordVM
@{
    Layout = null;
}

<div class="card-body" style="margin-right:-100px">

    <form asp-action="ChangePassword" asp-controller="MyAccount" method="post" id="changePasswordForm">

        <input type="hidden" asp-for="UserId" />

        <div class="row">
            <div class="col-sm-9">
                <!-- text input -->
                <div class="form-group">

                    <label asp-for="OldPassword" class="control-label col-md-6"></label>
                    <input type="password" asp-for="OldPassword" class="form-control" placeholder="Please enter old password">
                    <span asp-validation-for="OldPassword" class="text-danger"></span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">

                    <label asp-for="NewPassword" class="control-label col-md-6"></label>
                    <input type="password" asp-for="NewPassword" class="form-control" placeholder="Please enter new password">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">

                    <label asp-for="ConfirmPassword" class="control-label col-md-6"></label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Please enter confirm password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                </div>
            </div>
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" id="btnsubmit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-default closeSmallModal" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>

</div>
@*<script src="../../plugins/jquery/jquery.min.js"></script>
<script src="../../plugins/jquery-validation/jquery.validate.min.js"></script>*@

<script>


    $(function () {

        $(document).on('click', '#btnsubmit', function (e) {

            e.stopImmediatePropagation();

            if (!$("#changePasswordForm").valid()) {
                return false;
            }

            var data = $("#changePasswordForm").serializeObject();

            disableForm('changePasswordForm');
            startLoading();

            $.ajax({
                url: "/myaccount/changepassword",
                type: "POST",
                data: data,
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                success: function (data)
                {
                    debugger
                    if (data.status == '417')
                    {
                        toastr.error(data.message)
                        return;
                    }

                    closeSmallModal();
                    toastr.success(data.message)
                    return;

                },

                error: function (data) {
                   
                },
                complete: function () {
                    enableForm('changePasswordForm')
                    stopLoading();
                }
            });
        });

        $('#changePasswordForm').validate({
            rules: {
                OldPassword: {
                    required: true
                },
                NewPassword: {
                    required: true
                },
                ConfirmPassword: {
                    required: true,
                    equalTo: '#NewPassword'
                }
            },
            messages: {

                OldPassword: {
                    required: "The old password field is required"
                },
                NewPassword: {
                    required: "The new password field is required"
                },
                ConfirmPassword: {
                    required: "The confirm password field is required",
                    equalTo: "The confirm password does not match"
                }
            },

            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {

                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }

        });
    });</script>

@if (ViewBag.response != null)
{
    <script>
    $(function () {
        if (@(Convert.ToInt32(ViewBag.response.Status)) == 200)
            toastr.success("@(Convert.ToString(ViewBag.response.Message))");
        else
            toastr.error("@(Convert.ToString(ViewBag.response.Message))");
    });
    </script>
}
